/* Estilos para el cuerpo de la página */
body {
  background-color: #000d2d;
  background-image: radial-gradient(circle at center, #000d2d 0%, #252233 87%);
  font-family: "Raleway", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center; /* Centra el texto del cuerpo */
}

/* Estilos para la imagen */
img {
  border-radius: 50px;
  width: 100px;
  margin: 20px auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que la imagen se comporte como un bloque */
}

/* Estilos para los párrafos */
p {
  
  text-align: center; /* Centra los párrafos */
  margin-bottom: 20px; /* Espaciado inferior entre párrafos */
}

/* Estilos para los enlaces */
a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 20px; /* Ajusta el relleno de los enlaces */
  display: inline-block; /* Asegura que los enlaces no ocupen todo el ancho */
  margin-bottom: 10px; /* Espaciado inferior entre enlaces */
  color: slateblue;
  text-decoration: none; /* Quita el subrayado predeterminado */
}

a:hover {
  background-color: rgb(4, 218, 164);
}

/* Estilos para el botón */
button {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 20px; /* Ajusta el relleno del botón */
  margin: 10px; /* Espaciado alrededor del botón */
  color: slateblue;
  border: none; /* Quita el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button:hover {
  background-color: rgb(4, 218, 164);
}

/* Estilos para el contenido principal */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; /* Centra el contenido principal horizontalmente */
}

/* Estilos para las secciones */
section {
  display: none; /* Oculta todas las secciones por defecto */
  max-width: 800px;
  margin-bottom: 20px;
  text-align: center; /* Centra el texto dentro de las secciones */
  animation: glitch-fade-in 0.4s ease-in-out forwards; /* Aplica la animación de glitch-fade-in */
}

/* Estilo para la sección visible */
section.show {
  display: block; /* Muestra la sección cuando tiene la clase 'show' */
}

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}


@keyframes glitch-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
